body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-size: 20px;
}

input {
    padding: 15px 25px;
    margin: 25px;
    font-size: 20px;
    border-radius: 15px;
}



button  {
    padding: 15px 25px;
}